@use 'variables/breakpoints';

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: breakpoints.$width-max-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: breakpoints.$container-mobile) {
    grid-template-columns: 1fr !important;
  }

  article {
    background: var(--color-white);
    padding: 40px;
    grid-row: auto;
    overflow: hidden;

    @media (min-width: breakpoints.$width-max-mobile) {
      &:last-child:nth-child(even) {
        // grid-column: span 2;
      }
    }

    // &.destaque-blog {
    //   padding: 0;
    // }

    &.post-destaque:nth-child(-n + 2) {
      grid-row: span 2;
    }

    &.has-post-thumbnail:not(:first-child, :last-child, .queridinhos) {
      grid-row: span 2;
    }

    &:not(.has-post-thumbnail) {
      grid-row: span 1
    }
  }

  .thumbnail {
    margin-bottom: 20px;

    .img-thumbnail {
      width: 100%;
    }
  }
}

.grid-4 {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}

.grid-6 {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(6, 1fr);
}