// The very bottom of the site. Usually contains supporting
// or secondary navigation, social media icons, contact details
// and such.

// Please note: These are mostly for demo purposes
// so feel free to remove everything in this file
// and start over.
.site-footer {
  // Making sure the footer background is white, even on WordPress.org
  background-color: var(--cinza-clarinho);
  clear: both;
  color: var(--color-paragraph);
  overflow: hidden;
  padding: 3.75rem 1.25rem;
  display: flex;
  justify-content: center;

  .footer-container {
    display: flex;
    gap: 200px;
    justify-content: space-between;
    align-items: center;
    width: 1400px;

    .footer-site-branding {
      width: 245.714px;
      height: 40px;
      text-align: center;
    }

    .main-area {
      display: flex;
      flex: 1;
      max-width: 84.1rem;
      align-items: flex-start;
      justify-content: space-between;

      .footer-column {
        display: flex;
        flex-direction: column;
        gap: 84px;

        .title {
          display: flex;
          align-items: center;
          gap: 12px;

          h2 {
            margin: 0;
            color: var(--azul-leitura);
            font-size: 20px;
            font-weight: var(--typography-weight-normal);
          }
        }

        .footer-menu {
          display: flex;
          flex-direction: column;
          list-style: none;
          padding: 0;
          margin: 0;
          gap: 16px;

          li {
            display: inline-block;

            a {
              color: var(--cinza-medio-600);
              font-family: "Faktum", sans-serif;
              font-size: 20px;
              font-weight: 400;
              letter-spacing: -0.6px;
              text-decoration: none;
              transition: color 0.3s ease-in-out;
              margin: 0;
              padding: 0;
              position: relative;

              &:hover {
                color: var(--cinza-medio-600);
              }

              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 0%;
                height: 2px;
                background-color: currentColor;
                transition: width 0.3s ease-in-out;
              }

              &:hover::after {
                width: 100%;
              }

              .external-link-icon,
              .is-external-link {
                display: none;
              }
            }
          }
        }

        .footer-contact {
          display: flex;
          flex-direction: column;
          gap: 89px;
          margin: 0;

          .phone-email {
            display: flex;
            flex-direction: column;
            gap: 23px;
            margin: 0;

            p {
              color: var(--PRETO-40, rgba(0, 0, 0, 0.40));
              font-family: "Faktum", sans-serif;
              font-size: 20px;
              font-weight: 500;
              letter-spacing: -0.6px;
              margin: 0;
            }
          }

          .redes-sociais {
            display: flex;
            gap: 16px;
            margin: 0 auto;
            padding: 0;

            li {
              list-style-type: none;
              cursor: pointer;

              a {
                list-style-type: none;

                .external-link-icon {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  // min-width: breakpoints.$width-max-mobile

  @media (max-width: 640px) {
    .footer-container {
      display: flex;
      flex-direction: column;
      gap: 61px;

      .main-area {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .footer-column {
          display: flex;
          flex-direction: column;
          gap: 0;

          .title {
            h2 {
              color: var(--PRETO-80, rgba(0, 0, 0, 0.80));
              font-size: 18px;
              font-weight: 500;
              letter-spacing: -0.54px;
            }
          }

          .footer-menu,
          .phone-email {
            display: none;

            /* Oculta os menus no mobile */
            li {
              a {
                color: var(--PRETO-40, rgba(0, 0, 0, 0.40));
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.48px;
              }
            }
          }

          .footer-menu.active,
          .phone-email.active {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 10px;
          }

          .footer-contact {
            margin-top: 70px;
            gap: 70px;

            .phone-email {
              gap: 19px;

              p {
                color: var(--PRETO-40, rgba(0, 0, 0, 0.40));
                font-size: 16px;
                font-weight: 400;
                letter-spacing: -0.48px;
              }
            }
          }

          .arrow-icon {
            transition: transform 0.3s ease;
          }

          .rotated {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

}