@use "variables/breakpoints";

#map {
  min-height: 300px;
  height: calc(100vh - 325px);

  @media (min-width: breakpoints.$width-max-mobile) {
    min-height: calc(100vh - 100px);
  }
}

.lista-lojas-container {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: .9rem;
  background-color: var(--cinza-clarinho);
  border: 1px solid var(--cinza-claro);
  border-bottom-color: var(--cinza-medio);
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .3);
  z-index: 9;

  @media (min-width: breakpoints.$width-max-mobile) {
    position: absolute;
    top: 336px; // <---------------------------------------- Automatizar essa conta
    right: auto;
    left: 5%;
    max-width: 650px;
    width: 45vw;
    height: calc(100vh - 200px);
  }

  .ll-spacer {
    padding: 40px 10%;
  }

  .ll-titulo {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 20px 0;
    line-height: 1.2;
  }

  .ll-campo {
    width: 100%;
    font-size: var(--typography-paragraph-size);
    margin: 0;
    padding: 33px 23px 33px 63px;
    background-image: url(../../svg/marcador-cinza.svg);
    background-position: 30px 50%;
    background-repeat: no-repeat;
    background-size: 20px;

    @media (min-width: breakpoints.$width-max-mobile) {
      padding: 32px 50px 32px 80px;
      background-position: 50px 50%;
    }
  }

  .ll-lista {
    list-style: none;
    padding: 0;

    .ll-loja {
      position: relative;
      margin: 20px 0;
      padding: 40px 50px;
      background-color: var(--color-white);
      border-radius: var(--border-radius-input-field);

      &:hover {
        background-color: var(--color-white);
        outline: 1px solid var(--cinza-claro);
      }

      &.selected {
        position: fixed;
        bottom: -20px;
        left: 0;
        right: 0;
        background-color: var(--azul-leitura);
        z-index: 10;

        @media (min-width: breakpoints.$width-max-mobile) {
          position: relative;
          bottom: initial;
        }

        h4,
        p {
          color: var(--color-white);
          text-decoration-color: var(--cinza-clarinho);
        }

        h4 {
          padding-left: 33px;
          background-image: url(../../svg/store.svg);
          background-repeat: no-repeat;
          background-position: 0 50%;
          background-size: 23px;
        }
      }

      h4,
      p {
        color: var(--cinza-escurinho);
      }

      h4 {
        font-size: 1.2em;
        margin: 0;
      }

      p {
        // font-size: 80%;
        margin: 0;

        span {
          font-weight: 700;
        }
      }

      .ll-como-chegar {
        display: inline-block;
        margin: 20px 0 10px;
        font-size: 1rem;
        text-decoration: none;
        padding: 10px 40px;
        background-color: var(--color-white);
        color: var(--azul-leitura);
        text-transform: uppercase;
      }

      .ll-fechar {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-color: transparent;
        z-index: 9;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 20px;
          height: 1px;
          background-color: var(--color-white);
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
          background-color: initial;
          border: solid 1px rgba(255, 255, 255, .5);
          border-radius: 50%;
        }
      }
    }
  }
}

#zoom-out {
  position: absolute;
  top: calc(286px + 100vh - 435px); // <---------------------------------- Automatizar essa conta
  right: 10px;
  padding: 5px;
  width: 40px;
  height: 40px;
  z-index: 3;

  @media (min-width: breakpoints.$width-max-mobile) {
    top: calc(286px + 100vh - 260px); // <------------------------------- Automatizar essa conta
    bottom: initial;
  }
}