// CSS variables
// Define names:
// For AAA: https://www.color-blindness.com/color-name-hue/
// For AA: https://chir.ag/projects/name-that-color/
// ------------------------------------------------------
:root {
  // Brand color pool
  --color-black: #000;
  --color-blue-chalk: #e6e6e6;
  --color-east-bay: #545773;
  --color-pattens-blue: #f7f7f7;
  --color-science-blue: #004D8F;
  --color-scorpion: #5f5f5f;
  --color-valhalla: #2a2d3e;
  --color-white: #fff;

  --azul-leitura: #004D8F; // 0, 77, 143
  --azul-forte: #005CE8; // 0, 92, 232

  --cinza-clarinho: #f7f7f7;
  --cinza-claro: #e6e6e6;
  --cinza-medio: #9b9b9b;
  --cinza-escuro: #333;

  // Main element colors
  --color-main: var(--color-valhalla);
  --color-heading: var(--color-main);
  --color-paragraph: var(--color-east-bay);

  // Modern link
  --color-link-text: var(--color-science-blue);
  --color-link-text-hover: var(--color-black);

  // Element states
  --color-error: #cc2e2e;
  --color-success: #21aa14;
}
