@use 'variables/breakpoints';
@use 'variables/typography';

body.blog,
body.archive {
  .block-blog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: start;

    @media (min-width: breakpoints.$width-max-mobile) {
      grid-template-columns: 2fr 1fr;
    }

    .grid {
      grid-template-columns: 1fr;

      @media (min-width: breakpoints.$width-max-mobile) {
        grid-template-columns: 1fr 1fr;
      }

      article.destaque-blog {
        //   display: block;
        //   gap: 20px;

        @media (min-width: breakpoints.$width-max-mobile) {
          grid-column: span 2;
          display: flex;
          gap: 40px;

          .thumbnail {
            flex-basis: 100%;
          }
        }
      }
    }
  }
}

body.archive {
  article:not(.resenha-item, .queridinhos) {

    &:first-child,
    &.destaque-blog {
      display: block;

      @media (min-width: breakpoints.$width-max-mobile) {
        grid-column: span 2;
        display: flex;
        gap: 40px;

        .thumbnail {
          flex-basis: 100%;
        }
      }
    }
  }
}

#destaques-blog {
  margin: 0;
  padding-top: 0;

  article {
    position: relative;
    width: 100%;

    .thumbnail {
      flex-basis: 45%;
      text-align: center;

      &.livro-thumbnail {
        padding: 10% initial;
        background-color: var(--cinza-clarinho);
      }

      img {
        display: inline-block;
        height: auto;

        &.attachment-resenha-g {
          height: initial;
          width: initial;
          max-width: initial;
        }
      }
    }

    .detalhes-do-post {
      flex-basis: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (min-width: breakpoints.$width-wide) {
        padding: 0 8% 0 14%;
      }

      .post-title {
        font-size: var(--typography-h3-size);
      }

      .content {
        font-size: 1rem;
      }

      .resenha-citacao {
        color: var(--cinza-medio);
        font-size: var(--typography-h3-size);
        line-height: var(--typography-heading-line-height);
      }

      .resenha-link {
        a {
          display: inline-block;
          font-weight: var(--typography-weight-semibold);
          margin-top: 60px;
          font-size: 12px;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}

.sidebar {
  display: none;
  margin: 0;

  @media (min-width: breakpoints.$width-max-mobile) {
    display: block;
  }

  &>div:not(.s-filtrar, .histórico) {
    margin-top: 40px;
  }

  h4 {
    text-transform: uppercase;
  }

  .s-categorias {
    .s-c-links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      a.grandes-categorias {
        padding: 1.8rem;
        font-size: .8rem;
        font-weight: var(--typography-weight-semibold);
        text-transform: uppercase;

        &:before {
          position: relative;
          display: inline-block;
          margin-right: 10px;
          width: 20px;
          height: 20px;
          vertical-align: bottom;
          content: '';
        }

        &.atual {
          background-color: var(--azul-forte);
        }
      }

      .notícias:before {
        background-image: url(../../svg/c-noticias.svg);
      }

      .resenhas:before {
        background-image: url(../../svg/c-resenhas.svg);
      }

      .colunas:before {
        background-image: url(../../svg/c-colunas.svg);
      }

      .ofertas:before {
        background-image: url(../../svg/c-ofertas.svg);
      }
    }
  }

  .histórico {
    a {
      color: var(--cinza-medio);
      text-decoration: none;
      text-transform: uppercase;
    }

    ul {
      padding: 0 0 0 20px;

      li {
        &::marker {
          content: '';
        }

        h5 {
          font-size: 1.2rem;
          margin: 10px 0 0 0;
          cursor: pointer;

          &:before {
            content: '→';
            margin-right: 20px;
            font-weight: var(--typography-weight-bold);
          }

          &[aria-expanded="true"] {
            &:before {
              content: '↓';
            }
          }
        }

        ul {
          li {
            a {
              font-weight: var(--typography-weight-normal);

              &:before {
                content: '→';
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}