@use 'variables/breakpoints';

#chamada-home {
  margin-top: 0;

  .owl-carousel {
    padding: 0;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      color: var(--color-black);
      font-size: 1.6rem;
      font-weight: var(--typography-weight-bold);
      text-transform: uppercase;
      margin: 0;
    }

    .ver-todas {
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: var(--cinza-medio);
      }
    }
  }

  @media (max-width: breakpoints.$width-max-mobile) {

    .titulo {
      flex-direction: column;

      h2 {
        font-size: 1.2rem;
      }

      a {
        display: none;
      }
    }
  }
}

.post-title {
  font-weight: var(--typography-weight-semibold);
  text-transform: uppercase;
  margin: 20px 0 0 0;
  line-height: var(--typography-heading-core-line-height);

  a {
    color: var(--color-black);
    text-decoration: none;
  }
}

time {
  color: var(--cinza-medio);
  text-transform: uppercase;
}

.livro-thumbnail {
  margin-bottom: 40px;

  img {
    width: 100%;
    max-width: 130px;
    height: auto;
    box-shadow: -3px 3px var(--cinza-escuro);
    margin-left: 3px;
  }
}

.cta-container-mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.publicacoes-container {

  .publicacoes-grid {

    article:first-child {
      grid-column: span 2;
    }

    .publicacao-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;
      padding: 40px;
      background-color: var(--color-white);

      .puglicacao-thumbnail,
      .detalhes-do-post {
        float: left;
      }

      .publicacao-thumbnail {
        flex-shrink: 0;

        img {
          max-width: 100%;
        }
      }

      @media (min-width: breakpoints.$width-max-mobile) {
        flex-direction: row;
      }
    }
  }
}

#colunas-e-resenhas {
  margin-top: 0;

  .titulo {
    margin: 36px 0 24px 0;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .section-title {
      color: var(--color-black);
      font-weight: 700;
      letter-spacing: -0.865px;
      text-transform: uppercase;
      margin: 0;
    }
  }


  .resenha-item {
    position: relative;
    background: var(--color-white);
    text-align: center;
    padding-bottom: 130px;

    @media (min-width: breakpoints.$width-grid-base) {
      padding: 70px 70px 190px;
    }
  }

  .resenha-titulo {
    text-transform: uppercase;
    margin-bottom: 40px;

    @media (min-width: breakpoints.$width-max-mobile) {
      height: 110px;
    }

    h3,
    h4 {
      margin: 10px 0;
    }

    h4 {
      font-weight: var(--typography-weight-medium);
      font-size: 1rem;
    }
  }

  .autor-info {
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;

    .autor-foto {
      width: 86px;
      height: 86px;
      border-radius: 50%;
      object-fit: cover;
    }

    .autor-nome {
      color: var(--azul-leitura);
      font-weight: var(--typography-weight-semibold);
      text-transform: uppercase;
      margin: 0;
    }

    .aspas {
      position: absolute;
      top: 0;
      width: auto;
    }
  }

  .resenha-data {
    position: absolute;
    bottom: 40px;
    left: 40px;
    margin: 0;
    text-transform: uppercase;

    @media (min-width: breakpoints.$width-grid-base) {
      bottom: 70px;
      left: 70px;
    }

    time {
      font-size: 0.8rem;
    }
  }

  @media (max-width: breakpoints.$width-max-mobile) {

    .resenhas-container {
      .resenha-item {
        padding: 10%;

        .autor-info {
          .autor-foto {
            width: 68px;
            height: 68px;
          }
        }

        .resenha-data {
          position: relative;
          bottom: initial;
          left: initial;
        }
      }
    }
  }
}